@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Kumbh Sans', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-blue: hsla(228, 100%, 66%, 1);
  --clr-desat-blue: hsla(228, 100%, 75%, 1);
  --clr-ocean-blue: hsla(227, 100%, 95%, 1);
  --clr-hover-accent: hsla(227, 100%, 88%, 1);

  --clr-very-dark-blue: hsla(227, 22%, 26%, 1);
  --clr-blackish: hsla(228, 22%, 19%, 1);
  --clr-grey: hsla(227, 14%, 52%, 1);
  --clr-very-soft-grey: hsla(0, 0%, 100%, 1);
  --clr-soft-red: hsla(0, 83%, 65%, 1);

  --clr-greyish-bg: hsl(0, 0%, 98%);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--clr-greyish-bg);
  color: var(--clr-very-dark-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.65;
  text-align: center;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */
.title {
  font-size: var(--fs-40);
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

.copy-text,
.feature-copy {
  color: var(--clr-grey);
}

.plan-name {
  font-size: var(--fs-20);
  font-weight: var(--fw-bold);
}

.plan-price {
  font-size: var(--fs-56);
  font-weight: var(--fw-bold);
}

.countdown-text {
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--clr-white);
}

.accent {
  color: var(--clr-blue);
}

.cd-card__number {
  font-weight: var(--fw-bold);
  font-size: var(--fs-32);
  color: var(--clr-white);
}

.cd-card__unit {
  font-size: var(--fs-12);
  color: var(--clr-very-soft-grey);
}

/* ===================== */
/* Buttons, inputs */
/* ===================== */

.btn {
  display: inline-block;
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  padding: 0.875em 2.5em;
  background: var(--clr-blue);
  border-radius: 2em;
  text-decoration: none;
  box-shadow: 0px 4px 5px 1px hsla(229, 35%, 47%, 0.25);
}
.btn:hover,
.btn:focus {
  background: var(--clr-desat-blue);
  box-shadow: 0px 4px 10px 4px hsla(229, 35%, 47%, 0.25);
}

.btn--accent-1 {
  color: var(--clr-blue);
  background: var(--clr-ocean-blue);
  box-shadow: unset;
}
.btn--accent-1:hover,
.btn--accent-1:focus {
  background: var(--clr-hover-accent);
  box-shadow: unset;
}

.btn--accent-2 {
  color: var(--clr-blue);
  background: var(--clr-white);
  box-shadow: unset;
}
.btn--accent-2:hover,
.btn--accent-2:focus {
  color: var(--clr-desat-blue);
  background: var(--clr-white);
  box-shadow: unset;
}

/* ================== */
/* Utility styles */
/* ================== */

/* ================== */
/* SECTIONS */
/* ================== */
