@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Kumbh Sans', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-blue: hsla(228, 100%, 66%, 1);
  --clr-desat-blue: hsla(228, 100%, 75%, 1);
  --clr-ocean-blue: hsla(227, 100%, 95%, 1);
  --clr-hover-accent: hsla(227, 100%, 88%, 1);

  --clr-very-dark-blue: hsla(227, 22%, 26%, 1);
  --clr-blackish: hsla(228, 22%, 19%, 1);
  --clr-grey: hsla(227, 14%, 52%, 1);
  --clr-very-soft-grey: hsla(0, 0%, 100%, 1);
  --clr-soft-red: hsla(0, 83%, 65%, 1);

  --clr-greyish-bg: hsl(0, 0%, 98%, 1);
  --clr-white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--clr-greyish-bg);
  color: var(--clr-very-dark-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.65;
  text-align: center;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */
.title {
  font-size: var(--fs-40);
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

.copy-text,
.feature-copy {
  color: var(--clr-grey);
}

.plan-name {
  font-size: var(--fs-20);
  font-weight: var(--fw-bold);
}

.plan-price {
  font-size: var(--fs-56);
  font-weight: var(--fw-bold);
}

.countdown-text {
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--clr-white);
}

.accent {
  color: var(--clr-blue);
}

.cd-card__number {
  font-weight: var(--fw-bold);
  font-size: var(--fs-32);
  color: var(--clr-white);
}

.cd-card__unit {
  font-size: var(--fs-12);
  color: var(--clr-very-soft-grey);
}

/* ===================== */
/* Buttons, inputs */
/* ===================== */

.btn {
  display: inline-block;
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  padding: 0.875em 2.5em;
  background: var(--clr-blue);
  border-radius: 2em;
  text-decoration: none;
  box-shadow: 0px 4px 5px 1px hsla(229, 35%, 47%, 0.25);
}
.btn:hover,
.btn:focus {
  background: var(--clr-desat-blue);
  box-shadow: 0px 4px 10px 4px hsla(229, 35%, 47%, 0.25);
}

.btn--accent-1 {
  color: var(--clr-blue);
  background: var(--clr-ocean-blue);
  box-shadow: unset;
}
.btn--accent-1:hover,
.btn--accent-1:focus {
  background: var(--clr-hover-accent);
  box-shadow: unset;
}

.btn--accent-2 {
  color: var(--clr-blue);
  background: var(--clr-white);
  box-shadow: unset;
}
.btn--accent-2:hover,
.btn--accent-2:focus {
  color: var(--clr-desat-blue);
  background: var(--clr-white);
  box-shadow: unset;
}

/* ================== */
/* Utility styles */
/* ================== */

.wrapper {
  background-image: url('./assets/home/bg-pattern-header.svg');
  background-position: 0% -7%;
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  padding: 0 1.5em;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* Header */
.header {
  margin-top: 2.875em;
}

.logo .logo-img {
  margin: 0 auto;
}

/* Section A */
.section-a {
  margin-top: 5em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-area {
  order: -1;
}

.image-area svg {
}

.copy-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  max-width: 440px;
}

/* Section B */
.section-b {
  margin-top: 6em;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

  margin-bottom: -49em;
}

.card {
  background: var(--clr-white);
  width: 100%;
  border-radius: 1em;
  padding: 2.5em 0;

  max-width: 440px;
}

.card--accent {
  background: var(--clr-blue);
  background-image: url('./assets/home/bg-pattern-pricing.svg');
  background-position: 50% 102%;

  background-size: 250%;
  background-repeat: no-repeat;
  color: var(--clr-white);
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plan-price {
  margin-top: 0.75em;
  line-height: 1;
}

.plan-subtitle {
  margin-top: 1em;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  margin-top: 3.5em;
}

.card--accent .feature-copy {
  color: var(--clr-white);
  opacity: 0.75;
}

.card .btn {
  margin-top: 2em;
}

/* Footer */
.footer {
  background: var(--clr-blackish);
  background-image: url('./assets/home/bg-pattern-footer.svg');
  background-position: 50% 250%;

  background-size: 310%;
  background-repeat: no-repeat;

  padding-top: 50em;
  padding-bottom: 6.25em;
}

.footer__content {
  margin-top: 6.25em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
}

.countdown-cards {
  margin-top: 1.2em;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.cd-card {
  background: var(--clr-very-dark-blue);
  padding: 0.8em 1.1em;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 720px) {
  /* Typography */
  .cd-card__number {
    font-size: var(--fs-56);
    line-height: 1;
  }

  .cd-card__unit {
    font-size: var(--fs-16);
    text-align: center;
  }

  body {
    text-align: left;

    background-image: url('./assets/home/bg-pattern-header.svg');
    background-position: 350px -13%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  /* Utility Styles */
  .wrapper {
    background: none;
  }

  .container {
    padding: 0 2.4375em;
  }

  /* SECTIONS */

  /* Header */
  .header {
    margin-top: 4.5em;
  }

  .logo .logo-img {
    margin: 0;
  }

  /* Section A */
  .section-a {
    margin-top: 6.5em;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .copy-area {
    width: 53.5%;
    align-items: flex-start;

    max-width: unset;
  }

  .image-area {
    order: unset;
    width: 40%;
  }

  /* Section B */
  .cards {
    margin-bottom: -36em;
  }

  .card {
    max-width: unset;

    display: grid;
    grid-template-columns: 220px 6em auto;
    grid-template-rows: repeat(2, auto);

    grid-template-areas:
      'plan . features '
      'button . . ';

    padding: 3em;
  }

  .card--accent {
    background-position: -18em 55%;

    background-size: 130%;
  }

  .plan {
    grid-area: plan;

    /* Flex */
    justify-content: flex-start;
    align-items: flex-start;
  }

  .plan-price {
    margin-top: 0.5em;
  }

  .plan-subtitle {
    margin-top: 1em;
  }

  .card .btn {
    width: 77%;
  }

  .features {
    grid-area: features;

    align-items: flex-start;

    margin-top: 4em;
  }

  .card .btn {
    grid-area: button;
  }

  /* Footer */
  .footer {
    padding-top: 37em;
    padding-bottom: 6.25em;

    background: var(--clr-blackish);
    background-image: url('./assets/home/bg-pattern-footer.svg');
    background-position: -240px 200px;

    background-size: 170%;
    background-repeat: no-repeat;
  }

  .countdown-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cd-card {
    padding: unset;
    width: 100px;
    height: 128px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.5em;
  }

  .cd-card__number {
    margin-top: 0.15em;
  }

  .cd-card__unit {
    margin-top: 0.25em;
  }
}

/* Desktop */
@media (min-width: 1060px) {
  /* Typography */
  .title {
    font-size: var(--fs-56);
  }
  .copy-text {
    font-size: var(--fs-18);
  }

  /* SECTIONS */

  .section-b {
    margin-top: 12em;
  }

  .cards {
    flex-direction: row;

    margin-bottom: -10em;
  }

  .card {
    max-width: unset;
    padding: 2.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card--accent {
    background-position: -320px -450px;

    background-size: 300%;
  }

  .plan-name,
  .plan-price,
  .feature-copy {
    width: 100%;
  }

  /* Footer */
  .footer {
    padding-top: 10.5em;

    background-position: 120% 40%;

    background-size: 160%;
  }

  .footer__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: unset;
  }
  .countdown-text {
    width: 100%;
  }
}
